* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #3F3E7B;
    display: flex;
    justify-content: center;
}

.box {
    width: 250px;
    height: 100px;
    margin-top: 150px;
    background-color: #Fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-buttons {
    column-gap: 4px;
}

.search-button {
    width: 80px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #EFEFEF;
    border: none;
}

.search-button:hover {
    background-color: #e6d9d9ab;
}

.run-button {
    width: 60px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #EFEFEF;
    border: none;
}

.run-button:hover {
    background-color: #e6d9d9ab;
}

.modal {
    position: absolute;
    width: 470px;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #Fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.20s ease-in;
}



.modal.active {
    width: 470px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #Fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-content {
    text-align: center;
}

.content-button {
    margin-top: 18px;
}

.panel__title {
    font-size: 28px;
    font-weight: 100;
}

.panel__button {
    cursor: pointer;
    width: 110px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}

.panel__button:hover {
    background-color: #e6d9d9ab;
}

.modalbg {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #16162B;
    opacity: 0.5;
}
.modalbg.active {
    display: block;
}

.two {
    position: absolute;
    width: 470px;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #Fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.20s ease-in;
}
.two.active {
    width: 470px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #Fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel__buttonTwo {
    cursor: pointer;
    width: 80px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}
button:active {
    transform: translateY(4px);
  }